<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">News</a>
    </div>
    <div class="form-add-new">
        <form action="/update-user" method="post">
            <fieldset>
                <legend>Update a users</legend>

                <!-- không cho người dùng thay dổi id
                vì id là thứ -->
                <div class="input-group d-none">
                    <label>Id
                    </label>
                    <input type="text" id="email" name="userId" value="<%= usersEdit.id %>" />

                </div>

                <div class="input-group">
                    <label>Email
                    </label>
                    <input type="text" id="email" name="email" value="<%= usersEdit.email %>" />

                </div>

                <div class="input-group">
                    <label>Name
                    </label>
                    <input type="text" id="name" name="name" value="<%= usersEdit.name %>" />

                </div>

                <div class="input-group">
                    <label>City
                    </label>
                    <input type="text" id="city" name="city" value="<%= usersEdit.city %>" />
                </div>
                <div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>

</html>